.sectionSec{
    margin-top:100px;
}
.sectionSec1{
  margin-top:50px;
}
@media only screen and (min-device-width : 1024px)
{
  .sectionSec h3{
    font-family: Montserrat-Regular;
     font-size: 14px;
     font-weight: 500;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: 2.2px;
   }
  .sectionSec .about_p1{
    font-family: Montserrat-Regular;
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: 4px;
    color: #ffffff;
  }
  .sectionSec1 .about_h3
  {
    font-family: Montserrat-Regular;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: 4px;
    color: #ffffff;
  }
  .sectionSec .about_p2, .sectionSec1 .about_p2{
      font-family: Montserrat-Regular;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #ffffff;
      margin-top: 24px;
    }
    .page
    {
      padding-left: 102px;
    }
    .sec2head
    {
      font-family: Montserrat-Regular;
      font-size: 28px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: 2px;
      color: #ffffff;
    }
   
}
@media only screen and (min-device-width : 320px) and (max-device-width : 767px)
{
  .sectionSec h3{
    font-family: Montserrat-Regular;
     font-size: 10px;
     font-weight: 500;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: 2.2px;
   }
  .sectionSec .about_p1 , .sectionSec1 .about_h3{
    font-family: Montserrat-Regular;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: 4px;
    color: #ffffff;
  }
  .sectionSec .about_p2, .sectionSec1 .about_p2{
      font-family: Montserrat-Regular;
      font-size: 10px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #ffffff;
      margin-top: 24px;
    }
    .sec2head
    {
      font-family: Montserrat-Regular;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: 2px;
      color: #ffffff;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px)
{
  .sectionSec h3{
    font-family: Montserrat-Regular;
     font-size: 12px;
     font-weight: 500;
     font-style: normal;
     font-stretch: normal;
     line-height: normal;
     letter-spacing: 2.2px;
   }
  .sectionSec .about_p1 {
    font-family: Montserrat-Regular;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: 4px;
    color: #ffffff;
  }
  .sectionSec1 .about_h3
  {
    font-family: Montserrat-Regular;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: 4px;
    color: #ffffff; 
  }
  .sectionSec .about_p2, .sectionSec1 .about_p2{
      font-family: Montserrat-Regular;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #ffffff;
      margin-top: 24px;
    }
    .sec2head
    {
      font-family: Montserrat-Regular;
      font-size: 24px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.43;
      letter-spacing: 2px;
      color: #ffffff;
    }
}
  .aboutus_imageTag{
    text-align: center;
    margin-top:50px;
  }
  