<div class="main_home1">
    <app-header></app-header>
    <div>
        <ol class="carousel-indicators1">
            <li routerLinkActive="listActive" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/KrypticMinds/Home']"></a></li>
            <li routerLinkActive="listActive" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/KrypticMinds/AboutUs']"></a></li>
            <li routerLinkActive="listActive" [routerLinkActiveOptions]="{exact: false}"><a [routerLink]="['/KrypticMinds/CaseStudy']"></a></li>
            <li routerLinkActive="listActive" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/KrypticMinds/blog']"></a></li>
            <li routerLinkActive="listActive" [routerLinkActiveOptions]="{exact: true}"><a></a></li>
            <li routerLinkActive="listActive" [routerLinkActiveOptions]="{exact: true}"><a></a></li>
        </ol>
    </div>
    <div class="container sec1">
        <div class="main_home_div_text MontserratRegular">

            <div class="caseStudyFirst">
                   <h1>Industry application of blockchain for trade finance</h1>
                   <p>Trade Finance is an industry that got benefited tremendously from Blockchain Technology – due to the Trust and Proof of Work</p>
            </div>

        </div>
    </div>
    <!-- <div class="container">
        <div class="main_home_div_text MontserratRegular">

            <div class="caseStudyFirst">
                   <h1>Industry application of blockchain for trade finance</h1>
                   <p>Trade Finance is an industry that got benefited tremendously from Blockchain Technology – due to the Trust and Proof of Work</p>
            </div>

        </div>
    </div> -->
</div>

