<div class="main_home1">
    <app-header></app-header>
    <div>
        <ol class="carousel-indicators1">
            <li routerLinkActive="listActive" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/KrypticMinds/Home']"></a></li>
            <li routerLinkActive="listActive" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/KrypticMinds/AboutUs']"></a></li>
            <li routerLinkActive="listActive" [routerLinkActiveOptions]="{exact: false}"><a [routerLink]="['/KrypticMinds/CaseStudy']"></a></li>
            <li routerLinkActive="listActive" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/KrypticMinds/blog']"></a></li>
            <li routerLinkActive="listActive" [routerLinkActiveOptions]="{exact: true}"><a></a></li>
            <li routerLinkActive="listActive" [routerLinkActiveOptions]="{exact: true}"><a></a></li>
        </ol>
    </div>
    <!-- section1 starts -->
    <div class="container sec1 section" *ngIf="sections.section1" id="section-1">
        <div class="main_home_div_text MontserratRegular">

            <div class="caseStudyFirst">
                   <h1>Industry application of blockchain for trade finance</h1>
                   <p>Trade Finance is an industry that got benefited tremendously from Blockchain Technology – due to the Trust and Proof of Work</p>
            </div>

        </div>
    </div>
    <!-- section1 Ends -->

    <!-- section2 starts -->
    <div class="container section" *ngIf="sections.section2" id="section-2">
        <div class="main_home_div_text MontserratRegular">

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <h1>statement</h1>
                    
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                          <ul>
                            <li>
                                <span> proof of work or transparency in the pricing over the journey of a product from the manufacturer to the buyer as multiple stakeholders pass-on the invoice at different stages</span>
                            </li>
                            <li>
                                <span>Lack of ability by prevailing industry applications to handle multiple data touch points and make those data available on one single platform</span>
                            </li>
                            <li>
                                <span> Different stakeholders using different software to handle the same invoice even within the organization. Most of the work ends up on being on physical papers</span>
                            </li>
                            <li>
                                <span>Different stakeholders using different software to handle the same invoice even within the organization. Most of the work ends up on being on physical papers</span>
                            </li>
                          </ul>
                  </div>
            </div>

        </div>
    </div>
  <!-- section 2 ends -->

  <!-- section 3 starts -->
    <div class="container section" *ngIf="sections.section3" id="section-3">
        <div class="main_home_div_text MontserratRegular">
           <h1>Workflow</h1>
           <p>Created a single database with the help of blockchain technology to track the invoices</p>
           <div class="row">
             <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <img class="casestudyThirdSecImage" src="/assets/images/casestudybanner.png">
             </div>
           </div>
        </div>
    </div>
<!-- section 3 ends -->

<!-- section 4 starts -->
    <div class="container section" *ngIf="sections.section4" id="section-4">
        <div class="main_home_div_text MontserratRegular">
           <h1>Solution</h1>
           <p>Created a single database with the help of blockchain technology to track the invoices</p>
           <div class="row">
             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img class="casestudyThirdSecImage" src="/assets/images/caseStudySce4imag1.png">
             </div>
             <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <img class="casestudyThirdSecImage" src="/assets/images/caseStudySce4imag2.png">
             </div>
           </div>
        </div>
    </div>
<!-- section 4 ends -->

<!-- section 5 starts -->
    <div class="container section" *ngIf="sections.section5" id="section-5">
        <div class="main_home_div_text MontserratRegular">
          <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <h1>Tech stack</h1>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
              
                <img class="casestudyfourthSecImage" src="/assets/images/caseStudy5image1.png">
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                  <p>Created a single database with the help of blockchain technology to track the invoices</p>
                  <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                           
                            <img src="/assets/images/css3.png">
                            <h1 class="techstackHead">CSS3</h1>
                            <p>SCSS, BEM Mobile
                                first critical rendering </p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <img src="/assets/images/html5.png">
                            <h1 class="techstackHead">HTML5</h1>
                            <p>Semantics, Accessibility,
                                Browser API’S </p>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                              <img src="/assets/images/phython.png">
                              <h1 class="techstackHead">PYTHON</h1>
                              <p>Object oriented, functional,
                                  imperastive </p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <img src="/assets/images/js.png">
                                <h1 class="techstackHead">JAVASCRIPT</h1>
                                <p>Node, ES6, Webpack, React Angular</p>
                              </div>
                  </div>
              </div>
          </div>
          </div>
    </div>
    <!-- section 5 ends -->


      <!-- section 6 strats -->
    <div class="container section" *ngIf="sections.section6" id="section-6">
        <div class="main_home_div_text MontserratRegular">
              <div class="row">
                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                      <h1 class="sixsceHead">Key highlights</h1>
                      <ul>
                          <li>
                              <span>Eased stakeholders for tracking the invoice and handle it without actually tempering the data</span>
                          </li>
                          <li>
                              <span>Aggregated all the data touch point on a single database making it flawless to identify and move transactions fasters</span>
                          </li>
                          <li>
                              <span> Created a proof of work to identify the market value of the same commodity at various touch stages of transaction and timelines</span>
                          </li>
                        </ul>
                  </div>
                  <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 secsixth">
                      <img src="/assets/images/casestudy5.png" class="secsixthImages">
                  </div>
              </div>
        </div>
    </div>
        <!-- section 6 Ends -->
</div>

