<div class="main_home_div_text1">
    <div class="row">
        <div class="col-md-12 col-lg-5 col-sm-12 col-xs-12">
               <h3>
                 <span class="case-study-head case-study-head-Orangecolor MontserratRegular">FEATURED: </span>
                 <span class="case-study-head case-study-head-whitecolor MontserratRegular"> POWER SCHOOL</span>
               </h3>
               <div>
               <h1 class="case-study-head-h1 MontserratRegular">
                  Wowing 100
                  million members
               </h1>
               <img src="/assets/images/02@2x.png" class="caseStudyImage">
               <div class="case-study-desc">
                  <p class="MontserratRegular">
                      See how our web design agencygave an education software leader new ways to connect with various audiences.
                  </p>
                  <div class="CaseStudy-view" (click)="routeCommonCaseStudy()">
                      <span class="CaseStudy-view-span"><span class="CaseStudy-view-text">VIEW</span> <img src="/assets/images/path.png"></span>
                  </div>
               </div>
              </div>
        </div>
        <div class="col-md-12 col-lg-7 col-sm-12 col-xs-12">

            <img src="/assets/images/macbook@2x.png" class="caseStudy_left_image">
        </div>
    </div>
</div>
