<div class="main_home_div_text MontserratRegular">
  <h3 >
      Sharing knowledge
  </h3>
  <p>
      We’re constantly researching new technologies and business opportunities and are eager to share what we find.
  </p>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <!-- <img src="/assets/images/blog.png"> -->
        <div class="blogs">

        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="blogs">

          </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="blogs">

          </div>
    </div>
  </div>
</div>
