<div class="main_home_div_text1 study-page1">
    <div class="row">
        <div class="col-md-12 col-lg-5 col-sm-12 col-xs-12">
               <h3>
                 <span class="case-study-head case-study-head-Orangecolor MontserratRegular">FEATURED: </span>
                 <span class="case-study-head case-study-head-whitecolor MontserratRegular"> NEWS CORP</span>
               </h3>
               <div>
               <h1 class="case-study-head-h1 MontserratRegular">
                  A brave new perspective
               </h1>
               <img src="/assets/images/01@2x.png" class="caseStudyImage">
               <div class="case-study-desc">
                  <p class="MontserratRegular case-study-p">
                        How our digital agency helped online media conglomerate News Corp re-engage employees with personalized company benefits
                  </p>
                  <div class="CaseStudy-view" (click)="routeCommonCaseStudy()">
                        <span class="CaseStudy-view-span"><span class="CaseStudy-view-text">VIEW</span> <img src="/assets/images/path.png"></span>
                    </div>
               </div>
              </div>
        </div>
        <div class="col-md-12 col-lg-7 col-sm-12 col-xs-12">

            <img src="/assets/images/macbook@2x.png" class="caseStudy_left_image">
        </div>
    </div>
</div>