.header{
    height: 63px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 18px 0px 14px;
    background-color: #263162;
    /* box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1); */
    z-index: 999;
    position: fixed;
    top: 0px;
    color: #ffff
  }
  .header .pad {
    padding: 0;
  }
  .header_list{
    cursor: pointer;
}
.header_list:hover:after {
    content: "";
    width: 23px;
    height: 2px;
    display: block;
    bottom: -1px;
    left: 6px;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    background-color: #fc5d42;
}
li.listActive .header_list:after {
    content: "";
    width: 23px;
    height: 2px;
    display: block;
    bottom: -1px;
    left: 6px;
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    background-color: #fc5d42;
}
li.listActive .header_list{
    color:  #fc5d42 !important;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    padding-right: 30px;
  }
  
  .header_menu li {
    float: left;
  }
  
  .header_menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Montserrat-Regular;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.9px;
    text-align: center;
    color: #ffffff;
  }
  
  @media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
    .header_menu{
      display: none;
    }
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 991px) {
    .header_menu{
      display: none;
    }
  }
  @media only screen and (min-device-width : 992px) and (max-device-width : 1023px) {
    .header_menu{
      display: none;
    }
  }
  @media only screen and (min-device-width : 1024px) {
    .header_menu{
      display: block;
    }
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 1023px) {
    .sidebar{
      display: block;
      position: absolute;
      float: right;
      right: 5px;
    }
  }
  @media only screen and (min-device-width : 1024px) {
    .sidebar{
      display: none;
    }
  }
  .close
  {
    float: right;
    padding: 5px;
  }
  #sidebar-menu
  {
    display: none;
    background-color: #263162;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    text-align: left;
    padding: 10px;
  }
  .menu
  {
    padding: 21px;
  }
  .u-list
  {
    list-style-type: none;
    padding-left: 55px;
    padding-top: 75px;
  }
  .link
  {
    color: white;
    text-decoration: none;
    background-color: transparent;
  }
  .m-list
  {
    padding-top: 32px;
    font-family: Montserrat-Regular;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  .header-m-img {
    padding: 5px;
  }