<div class="slider-buttons">
    <button class="slider-button navLink active" (click)="getValue(1)" data-section="2-0" routerLinkActive="listActive" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/KrypticMinds/CaseStudy/1']">1</a></button>
    <button class="slider-button navLink active" (click)="getValue(2)" data-section="2-1" routerLinkActive="listActive" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/KrypticMinds/CaseStudy/2']">2</a></button>
  </div>
<router-outlet></router-outlet>